* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  position: relative;
  height: 100vh;
  background-color: rgb(10, 10, 10);
}
/**-------------------------- Navbar--------------------------- */

.hamburger {
  display: none;
  position: fixed;
  z-index: 1;
  font-size: 1.1rem;
  border: none;
  border-radius: 3px;
  right: -0.5rem;
  top: 3.5rem;
  padding: 0.1rem 1rem 0.1rem 0.5rem;
  background-color: rgba(255, 255, 255, 0.417);
  color: black;
  border: 1px solid rgba(255, 255, 255, 0.728);
}
.hidden-nav-links {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.597);
  height: 100%;
  width: 50%;
  gap: 2rem;
  z-index: 2;
  right: -50%;
  list-style: none;

  li > a {
    text-decoration: none;
    color: black;
  }

  select {
    font-size: 1rem;
    color: black;
    background-color: transparent;
    border: none;
  }

  transition: transform 0.5s ease-in-out;
}
.navbar {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 1rem 4rem;
  box-shadow: 0 1px 6px rgba(255, 255, 255, 0.211);
  backdrop-filter: blur(12px);
}

.brand-logo {
  width: 5rem;
}

.nav-links,
.search-profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.2rem;
}
.nav-item {
  border: 1px solid transparent;
  transition: all 0.2s ease;
  border-radius: 5px;
  cursor: pointer;
}
.search-profile {
  gap: 1rem;
}
.nav-item {
  list-style: none;
  font-size: 0.8rem;
  padding: 0.5vw;
}
.nav-item a {
  text-decoration: none;
  color: white;
}
.selection,
.search-icon {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 0.8rem;
  text-align: center;
  cursor: pointer;
}
.selection option {
  background-color: rgba(0, 0, 0, 0.548);
}
.search-bar,
.nav-cart {
  display: flex;
  gap: 0.2rem;
  align-items: center;
  padding: 0.5rem;
  border: 1px solid rgba(255, 255, 255, 0.728);
  border-radius: 5px;
}
.search-bar input {
  background: transparent;
  border: none;
  outline: none;
  color: white;
  padding: 0.2rem 0.5rem;
  width: 8vw;
}
.profile {
  display: flex;
  align-items: center;
}
.cart-icon {
  width: 1rem;
}
.profile-icon {
  width: 3rem;
  border-radius: 50%;
}
/*!-------------------------- Navbar end--------------------------- */
/* ?---------------------------------- Media Queries ------------------------------- */
@media (max-width: 780px) {
  .navbar {
    padding: 1rem;
  }
  .brand-logo {
    width: 4rem;
  }
  .nav-links,
  .search-profile {
    gap: 0.7rem;
  }
  .nav-item {
    padding: 0.1vw;
  }
  .nav-item,
  .selection {
    font-size: 0.7rem;
  }
  .search-bar,
  .nav-cart {
    padding: 0.2rem;
    border: 1px solid rgba(255, 255, 255, 0.728);
    border-radius: 5px;
  }
  .search-bar input {
    font-size: 0.6rem;
  }
  .search-icon {
    display: none;
  }
  .cart-icon {
    width: 0.8rem;
  }
  .profile-icon {
    width: 2rem;
  }
}

@media (max-width: 480px) {
  .hamburger {
    display: block;
  }
  .hamburger:focus + .hidden-nav-links {
    transform: translateX(-50vw);
  }

  .navbar {
    justify-content: space-evenly;
  }
  .nav-links {
    display: none;
  }
  .search-bar input {
    width: 15vw;
  }
}
/* ?---------------------------------- Media Queries ------------------------------- */

/*!---------------------- pseudo classes animation---------------------- */
.hamburger:active {
  transform: scale(0.9);
}
.nav-item:hover {
  border: 1px solid rgba(255, 255, 255, 0.728);
}
