:root {
  --accent: #3b82f6;
  --accent-border: rgba(59, 131, 246, 0.24);
  --accent-hover: #2563eb;
  --transparent-card: #111827a4;

  --main-text: #f8fafc;
  --secondary-text: #94a3b8;

  --border-colour: #334155;
  --border-radius: 10px;
  --border-radius-s: 5px;

  --bg: #0b1120;
  --card: #111827;
  --card-light: #1a2333;

  --divider: #243244;
}
html {
  scroll-behavior: smooth;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
  background-color: var(--bg);
  color: var(--main-text);
}
.container {
  max-width: 1200px;
}

/* *--------------Navbar--------------------------start---------------------- */

header {
  width: 100%;
  background-color: var(--card);
  display: flex;
  justify-content: center;
}
/* *hidden nav */
.hamburger {
  z-index: 10;
  font-size: 1.2rem;
  top: 5rem;
  right: -0.2rem;
  display: none;
  position: fixed;
  border: none;
  padding: 0.2rem 0.7rem;
  background-color: var(--card);
  cursor: pointer;
  box-shadow: 0 0 2px var(--shadow);
}
.hidden-nav-container {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px);
  background-color: var(--transparent-card);
  height: 100%;
  width: 50%;
  gap: 2rem;
  z-index: 15;
  right: -50%;
  list-style: none;
  li > a {
    text-decoration: none;
    color: var(--main-text);
  }
  transition: transform 0.5s ease-in-out;
  box-shadow: 0 0 2px var(--shadow);
}
.hidden-nav-items {
  list-style: none;
}

/* *hidden nav */

nav {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 0.5rem;
}
.logo {
  font-size: 1.5rem;
  font-weight: 600;
}
.nav-links {
  display: flex;
  gap: 2rem;
}
.nav-links li {
  list-style: none;
}
.nav-item {
  position: relative;
  text-decoration: none;
  color: var(--secondary-text);
  transition: all 0.3s ease;
}

.username {
  border: 1px solid var(--accent-border);
  padding: 0.5rem 1rem;
  border-radius: var(--border-radius);
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.nav-item::after {
  position: absolute;
  content: "";
  height: 2px;
  width: 100%;
  background-color: var(--accent);
  bottom: -1rem;
  left: 0;
  transform: scale(0);
  transition: all 0.3s ease;
}
.accent-text {
  color: var(--accent);
}
/* *--------------Navbar---------------------------end--------------------- */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  gap: 1rem;
}
/* *--------------Hero---------------------------start--------------------- */
.hero-section {
  display: flex;
  max-width: 1200px;
  gap: 1rem;
}
.hero-content {
  width: 50%;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 1rem;
  padding: 0.5rem;
}
.hero-heading {
  font-size: 2.5rem;
  font-weight: 600;
}
.hero-description {
  line-height: 1.6;
  color: var(--secondary-text);
}
.btn-container {
  display: flex;
}
.hero-btn {
  text-decoration: none;
  color: var(--main-text);
  background-color: var(--accent);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 1rem 2rem;
  border-radius: var(--border-radius-s);
}
.hero-display {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  padding: 1rem;
}
.hero-img {
  width: 70%;
  height: 100%;
  object-fit: contain;
}

/* *--------------Hero---------------------------end--------------------- */
/* *--------------Achievement---------------------------start--------------------- */
.achievement-section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5rem 0.5rem;
  background-color: var(--card);
  border: 1px solid var(--accent-border);
  border-left: none;
  border-right: none;
}
.ach-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.achievement-name {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 600;
  gap: 1rem;
}
.trophy {
  color: var(--accent);
  border: 1px solid var(--accent-border);
  padding: 0.5rem;
  border-radius: 50%;
}
.achievement-number-container {
  display: flex;
}
.achievement-box {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  align-items: center;
  padding: 0 1.5rem;
  border-left: 1px solid var(--divider);
}
.number {
  font-weight: 600;
  color: var(--accent);
  font-size: 1.5rem;
}
.text {
  font-size: 0.7rem;
  text-align: center;
}
/* *--------------Achievement---------------------------end--------------------- */
/* *----------------cart section -----------start----------------*/
/* ! in cart.css */
/* *------------------cart section -----------end----------------*/

/* ?-------------Media----------------------------- */
@media (max-width: 780px) {
  /* * nav */
  .logo {
    font-size: 1.3rem;
  }
  .nav-links {
    font-size: 0.8rem;
    gap: 0.7rem;
  }

  .username {
    font-size: 0.8rem;
    gap: 0.3rem;
  }
  /* * nav */
  /* *hero section */
  .hero-heading {
    font-size: 2rem;
  }
  .hero-description,
  .hero-btn {
    font-size: 0.8rem;
  }
  .hero-btn {
    padding: 0.7rem 1.3rem;
  }
  .hero-display {
    padding: 0;
  }
  .hero-img {
    width: 100%;
  }
  /* *hero section */
  /* *--------------Achievement-------------------- */
  .achievement-section {
    padding: 1rem 0.5rem;
  }

  .achievement-name,
  .number {
    font-size: 1rem;
  }
  .text {
    font-size: 0.55rem;
  }
  .achievement-box {
    padding: 0 1rem;
  }
  /* *--------------Achievement-------------------- */
}

@media (max-width: 480px) {
  .nav-links {
    display: none;
  }
  .hamburger {
    display: block;
    border-radius: var(--border-radius-s);
    border: 1px solid var(--border-colour);
  }
  .hamburger:focus + .hidden-nav-container {
    transform: translate(-100%);
  }

  /* *hero section */
  .hero-section {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
      "upper"
      "lower";
  }
  .hero-content {
    grid-area: lower;
    width: 100%;
  }
  .hero-heading {
    font-size: 1.6rem;
  }
  .btn-container {
    justify-content: center;
  }
  .hero-btn {
    padding: 0.5rem 1.5rem;
  }
  .hero-display {
    width: 100%;
    grid-area: upper;
    padding-top: 2rem;
  }
  .hero-img {
    width: 60%;
  }
  /* *hero section */

  /* *--------------Achievement-------------------- */
  .ach-container {
    flex-direction: column;
    gap: 0.5rem;
  }
  .achievement-box:first-child {
    border-left: none;
  }
  /* *--------------Achievement-------------------- */
}
/* ?-------------Media----------------------------- */
/* !--------------Effects------------------- */

.nav-item:hover::after {
  transform: scale(1);
}
.nav-item:hover {
  color: var(--accent);
}
.hero-btn:hover {
  background-color: var(--accent-hover);
}
.hero-btn:active {
  transform: scale(0.95);
}
