:root {
  /* radius for the orbit  */
  --radius: 15px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html,
body {
  background-color: rgb(39, 38, 38);
  color: #ffffff;
  height: 100vh;
  overflow: hidden;
  position: relative;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 8vh;
  padding: 0 3vw;
  background-color: rgb(15, 14, 14);
}

.nav-logo {
  font-weight: bold;
  text-align: center;
  font-size: 1.5rem;
}
.nav-links {
  display: flex;
  gap: 2rem;
}
.nav-items {
  list-style: none;
}
.nav-items a {
  text-decoration: none;
  color: #c0bdbd;
}

.nav-user {
  background-color: rgba(63, 143, 255, 0.591);
  color: rgb(87, 248, 248);
  border-radius: 5px;
  cursor: pointer;
  padding: 0.5rem 2rem;
}

.hamburger {
  height: 2rem;
  width: 2rem;
  border: 1px solid white;
  position: absolute;
  right: 1rem;
  top: 0.7rem;
  display: none;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}
.hidden-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  position: absolute;
  z-index: 10;
  top: 0;
  right: -50%;

  background-color: white;
  height: 100vh;
  width: 50%;
  transition: all 1s ease-in-out;
}
.hidden-links .hidden-items {
  list-style: none;
}
.hidden-links .hidden-items a {
  text-decoration: none;
  color: black;
}
/* ------------------------Nav End----------------------------------------------------------- */

.hero-container {
  width: 100%;
  height: 92vh;
  display: flex;
  justify-content: space-evenly;
}
.hero-left {
  height: 100%;
  width: 45%;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 5%;
  gap: 1rem;
}

.heading {
  color: #f9fcfc;
  font-size: 2.5rem;
}
.highlight-text {
  color: rgb(48, 168, 224);
}
.description {
  color: #b9b7b7;
  font-size: 1.3rem;
}

.btn-container {
  width: 100%;
  text-align: center;
}
.btn {
  font-size: 1.2rem;
  padding: 0.5rem 2rem;
  border-radius: 7px;
  border: none;
  background-color: rgb(48, 168, 224);
  color: white;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.hero-right {
  width: 50%;
  display: flex;
  padding-top: 20%;
  justify-content: center;
}
.orbit {
  width: calc(var(--radius) * 2);
  height: calc(var(--radius) * 2);
  /* added a variable to change radius of orbit . change it at the top(not commented by AI) */
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: orbit 2s ease-in-out 1s infinite;
}
.holder {
  animation: rev-shrink 2s ease-in-out 1s infinite;
  /* rotating this instead of the image */
}
.hero-img {
  width: 40vw;
  transform: translateX(var(--radius));
  /* animation: rev-shrink 2s ease-in-out 1s infinite; */
  /* changed this to not rotate the image . */
}

/* -------------------Media------------------------------ */
@media (width<=768px) {
  .nav-logo {
    font-size: 1rem;
  }
  .nav-links {
    gap: 0.7rem;
    font-size: 0.7rem;
  }
  .nav-user {
    padding: 0.5rem 1rem;
    font-size: 0.7rem;
  }

  .heading {
    font-size: 1.8rem;
  }
  .description,
  .btn {
    font-size: 0.8rem;
  }
  .btn {
    padding: 0.5rem 1rem;
  }

  .hero-left {
    padding-top: 3rem;
    width: 45%;
  }
  .hero-right {
    padding-top: 20%;
  }
}
/*--------------------- 480px----------------------- */
@media (width <= 480px) {
  .navbar {
    justify-content: space-evenly;
  }
  .nav-links {
    display: none;
  }
  .nav-user {
    margin-right: 2.5rem;
  }
  .hero-container {
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
  }
  .hamburger {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: white;
    color: black;
    cursor: pointer;
  }

  .hamburger:focus + .hidden > .hidden-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    right: 0;
  }

  .hero-left {
    padding: 0 0.2rem;
    width: 100%;
    height: 46%;
    justify-content: space-evenly;
    gap: 0.5rem;
  }
  .heading {
    font-size: 1.5rem;
  }
  .description,
  .btn {
    font-size: 0.8rem;
  }

  .hero-right {
    width: 100%;
    height: 46%;
    padding-top: 0;
    object-fit: cover;
    align-items: center;
  }

  .hero-img {
    width: 70vw;
    object-fit: contain;
  }
}

.hamburger:focus {
  border: 2px solid rgb(0, 170, 255);
}
/* ----------Hover Effect--------------- */
.btn:hover {
  background-color: rgb(92, 183, 226);
  transform: rotate(-10deg) scale(1.1);
}

/* -------------Animation----------------- */

/* Comments hand typed and said by myself ❤️ */

/* Tried to match the video exactly as possible */
/* normal outer orbit */
@keyframes orbit {
  0% {
    transform: rotate(0deg);
  }
  70% {
    transform: rotate(360deg);
  }
  /* rotation completes at 70% to later apply the slide and shrink displayed in the video */

  /* 60%-100% rest time */
  100% {
    transform: rotate(360deg);
  }
}

/* Counter rotation and shrink animation below made after a lot of failures  */
/* Full explaination written in the README file */

@keyframes rev-shrink {
  0% {
    transform: translateX(var(--radius)) rotate(0deg) scaleX(1) scaleY(1)
      skew(0deg);
  }
  70% {
    transform: translateX(var(--radius)) rotate(-360deg) scaleX(1) scaleY(1)
      skew(0deg);
  }
  /* counter rotation also completes on 70% to match the orbit flow and stays upright */

  /* 70%-100% rest time for slide back to origin and squash */
  80% {
    transform: translateX(0px) rotate(-360deg) scaleX(1) scaleY(1) skew(0deg);
  }
  85% {
    transform: translateX(0px) rotate(-360deg) scaleX(0.9) scaleY(1.1)
      skew(20deg);
  }
  90% {
    transform: translateX(0px) rotate(-360deg) scaleX(0.7) scaleY(1.3)
      skew(30deg);
  }
  95% {
    transform: translateX(0px) rotate(-360deg) scaleX(0.9) scaleY(1.1)
      skew(20deg);
  }
  100% {
    transform: translateX(0px) rotate(-360deg) scaleX(1) scaleY(1) skew(0deg);
  }
}

/* -----------------------------#Animation without counter rotation ------------------------*/
/* Comment above and Uncomment below to check how it behaves */
/* The Image will rotate with the orbit rotating */

/* @keyframes rev-shrink {
  0% {
    transform: translateX(var(--radius)) scaleX(1) scaleY(1);
  }
  60% {
    transform: translateX(var(--radius)) scaleX(1) scaleY(1);
  }
  80% {
    transform: translateX(0px) scaleX(1) scaleY(1);
  }
  90% {
    transform: translateX(0px) scaleX(0.5) scaleY(1.5);
  }
  100% {
    transform: translateX(0px) scaleX(1) scaleY(1);
  }
} */
