* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  background-color: rgb(21, 21, 21);
  color: white;
}

nav {
  background-color: rgba(66, 66, 66, 0.589);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 4rem 0;
  display: flex;
  gap: 4rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.box-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.box {
  width: 100px;
  height: 100px;
  background-color: rgba(66, 66, 66, 0.589);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  cursor: pointer;
  text-shadow: 1px 1px 1px black;
  box-shadow: 1px 1px 1px rgb(0, 0, 0);
}
.greeting-input {
  display: flex;
  gap: 0.5rem;
}
.input {
  padding: 0.5rem;
  border: none;
  border-radius: 5px;
  background-color: rgba(41, 41, 41, 0.525);
  color: white;
  box-shadow: 1px 1px 1px rgb(0, 0, 0);
}
.greet-button {
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  background-color: rgba(41, 41, 41, 0.525);
  color: white;
  box-shadow: 1px 1px 1px rgb(0, 0, 0);
}

/* * click movement */
.box:active,
.greet-button:active {
  transform: scale(0.9);
}
